MultiProcessSysWebService_Thread_Online_1.3/src/ProcessImpl.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ServiceInterface" xmlns:intf="http://ServiceInterface" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ServiceInterface">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://ServiceInterface">
   <element name="OrderRSDataRequirement">
    <complexType>
     <sequence>
      <element name="strXML" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="OrderRSDataRequirementResponse">
    <complexType>
     <sequence>
      <element name="OrderRSDataRequirementReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="OrderRSDataRequirementResponse">

      <wsdl:part element="impl:OrderRSDataRequirementResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="OrderRSDataRequirementRequest">

      <wsdl:part element="impl:OrderRSDataRequirement" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ProcessImpl">

      <wsdl:operation name="OrderRSDataRequirement">

         <wsdl:input message="impl:OrderRSDataRequirementRequest" name="OrderRSDataRequirementRequest">

       </wsdl:input>

         <wsdl:output message="impl:OrderRSDataRequirementResponse" name="OrderRSDataRequirementResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ProcessImplSoapBinding" type="impl:ProcessImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="OrderRSDataRequirement">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="OrderRSDataRequirementRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="OrderRSDataRequirementResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ProcessImplService">

      <wsdl:port binding="impl:ProcessImplSoapBinding" name="ProcessImpl">

         <wsdlsoap:address location="http://localhost:1080/Project1Webservice/services/ProcessImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
